@page
{
	/* Apparence de page pour l'impression */
	size: A4;
	margin: 2cm;
}

body
{
	/* Contenu de la page */
	margin: 0;
	padding: 0;
	font-family: system-ui, sans-serif;
	background-color: rgb(240, 240, 240);
}

main
{
	/* Conteneur général */
	color: rgb(51, 51, 51);
	margin: 1cm auto;
	padding: 2cm;
	max-width: 21cm;
	min-height: 29.7cm;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	background-color: white;
}

@media screen and (max-width: 768px)
{
	main
	{
		/* Sur les terminaux mobiles, pas besoin de grosses marges */
		padding: 1cm;
	}
}

section
{
	/* Sections de la page */
	margin-bottom: 2.25rem;
}

section h2
{
	/* Titres de section */
	color: rgb(26, 124, 209);
	font-size: 1.25rem;
	border-bottom: 1px solid rgb(170, 170, 170);
	margin-bottom: 0.5cm;
}

section h3
{
	/* Intitulé de sous-section */
	display: inline;
	font-size: 1rem;
	margin-top: 1rem;
}

section h4
{
	/* Intitulé de sous-sous-section */
	margin: 0 0 0.1rem 0;
	font-size: 0.85rem;
	font-style: italic;
	font-weight: normal;
}

section a {
	/* Lien de section */
	color: inherit;
	width: fit-content;
	display: block;
	font-size: 0.75rem;
	margin-bottom: 1rem;
	text-decoration: dotted underline;
	text-underline-offset: 2px;
}

section div.time {
	/* Date de section */
	float: right;
	font-size: 0.85rem;
	text-align: right;
	margin-left: auto;
}

@media print
{
	body, main
	{
		/* Apparence de la page pour l'impression */
		margin: 0;
		padding: 0;
		box-shadow: none;
		background-color: initial;
	}

	section a
	{
		/* Désactivation des liens de section en mode d'impression */
		display: none;
	}
}